.home {
  display: grid;
  grid-template-rows: 80vh 20vh;
  grid-template-columns: 1fr 1fr;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 250px;
  grid-row: 1 / 2 ;
}

.intro h1 {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 20px;
}

.intro p {
  margin-bottom: 20px;
}

.home nav {
  font-size: 140px;
  display: grid;
  justify-content: flex-start;
  align-items: flex-end;
  grid-row: 1 / 2 ;
  padding-left: 40px;
}

.home ul {
  margin: 0;
  padding: 0;
}

.tech-stack {
  grid-column: 1 / -1;
  display: grid;
  text-align: center;
  width: 100%;
}

.tech-stack h2 {
  font-size: 16px;
}

.tech-stack li {
  display: inline-block;
  margin: 0 10px;
}



