.home {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--BLUE-COLOR);
  height: 100vh;

}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 5vw;
  width: 400px;
}

.intro h1 {
  font-family: var(--ACCENT-FONT);
  font-size: 50px;
  margin-bottom: 20px;
  font-style: italic;
}

.intro p {
  margin-bottom: 20px;
}

.home nav {
  font-size:calc(20px + 14vw);
  transition: font-size ease-in-out 500ms;
  padding-left: 40px;
  font-style: italic;
}

.home ul {
  margin: 0;
  padding: 0;
}


@media (max-width: 430px) {
  .home {
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 0 10vw;
  }

  .intro {
    justify-content: center;
    padding: 0 !important;
    width: 80vw;
  }

  .home nav {
    grid-column: 1 / -1;
    padding: 0 !important;
    margin-bottom: 2vh;
    align-items: center;
    justify-content: center;
  }

  .navlink {
    margin: 3vh 0;
    font-size: 12vh !important;
  }

}

@media (max-width: 1024px) {
  .home {
    margin: 0 5vw;
  }

  .intro {
    padding-bottom: 10vh;
  }

  .home nav {
    padding-bottom: 10vh;
  }

  .navlink {
    font-size: 15vw;
  }

  .home h2 {
    justify-content: flex-start;
    padding: 0;
    margin: 0;
  }
}

@media (min-width: 800px) {
  .navlink a:hover {
    font-style: normal;
    transition: font-style ease 1s;
  }
}





