@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Ultra&display=swap');

:root {
    --ACCENT-FONT: 'Ultra', serif;
    --MAIN-FONT: 'IBM Plex Sans', serif;
    --BLUE-COLOR: #3C4D7F;
    --GREEN-COLOR: rgba(4, 89, 77);
    --PURPLE-COLOR: #796D93;
    --PINK-COLOR: rgba(177, 106, 117);
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #FFFFF2;
}

h1, p, div {
    font-family: var(--MAIN-FONT);
    margin: 0;
    padding: 0;
    color: var(--BLUE-COLOR);
}

h2, li {
    font-family: var(--ACCENT-FONT);
    margin: 0;
    padding: 0;
    color: var(--BLUE-COLOR);
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--BLUE-COLOR);
    font-family: var(--ACCENT-FONT);
}

.page-header {
    font-size: 200px;
    letter-spacing: 1px;
}

.home-button {
    width: 25px;
    transform: rotate(270deg);
    position: absolute;
    top: 55px;
    left: 20px;
    font-weight: 700;
    font-family: var(--MAIN-FONT);
    background-color: transparent;
    border: none;
    font-size: 18px;
}

