.home-button {
    color: var(--BLUE-COLOR);
}

/* Headers */
.work-headers {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 100px 10vw 0;
    color: var(--BLUE-COLOR);
}

.work-copy {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 15px;
}

/* Work Container */
.work-container {
    display: flex;
    justify-content: center;
    margin-top: 120px;
}

/* Card Styles */
.card {
    background-color: #f9f9f9;
    width: 28vw;
    height: 350px;
    margin: 0 20px;
    padding: 15px 50px;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    gap: 50px;
    transition: width 750ms ease;
    overflow: hidden;
    min-width: 0;
}

/* Card Content */

.card-info {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.card h3 {
    font-size: 3vw;
    margin: 10px 0;
    font-family: var(--ACCENT-FONT);
    width: 100px;
    font-style: italic;
}

.card h3, 
.card p, 
.card li {
    color: var(--BLUE-COLOR);
}

/* Hidden Content */
.hidden-content {
    display: flex;
    opacity: 0;
    transition: opacity 750ms ease, max-height 750ms ease;
}

.tech-list {
    padding: 0;
    justify-self: left;
}

.tech-list li {
    margin-right: 20px;
    font-family: var(--MAIN-FONT);
    font-weight: 800;
}

.card-img {
    width: 100%;
    max-width: 500px;
    height: 100%;
    border-radius: 35px;
    background: center / cover no-repeat;
}

.project-links {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}

.project-links a {
    font-weight: 500;
    font-family: var(--MAIN-FONT);
    color: var(--BLUE-COLOR);
}

.project-links a:hover {
    border-bottom: 2px solid var(--BLUE-COLOR);
}

.link {
    display: flex;
    align-items: center;
    gap: 5px;
}


@media (max-width: 430px) {
    .work {
        display: flex;
        flex-direction: column-reverse;
    }

    .work-headers {
        flex-direction: column-reverse;
    }

    .work-container {
        flex-direction: column;
        align-items: center;
        margin-top: 5vh;
    }

    .card {
        width: 90%;
        flex-direction: column;
        margin-bottom: 5vh;
        padding: 0;
    }

    .hidden-content {
        opacity: 1;
    }

    .card-info {
        margin: 25px;
    }

    .card h3 {
        font-size: 3vh;
    }

    .card-img {
        opacity: 0;
    }

    .project-links {
        margin-top: 5vh;
        flex-direction: row;
    }

}

@media (min-width: 540px) and (max-width: 1500px) {

    .work {
        display: flex;
        flex-direction: column-reverse;
    }

    .work-container {
        flex-direction: column;
        align-items: center;
        margin-top: 3vh;
    }

    .card {
        width: 80%;
        margin-bottom: 5vh;
    }

    .card h3 {
        font-size: 4vw;
    }

    .card-info {
        width: 30vw;
    }

    .hidden-content {
        opacity: 1;
    }

    .project-links {
        flex-direction: column;
        align-self: flex-start;
        margin-top: 3vh;
    }

    .link {
        margin-bottom: 30px;
    }

    .card-img {
        width: 40vw;
    }
}

/* ADDS HOVER EFFECT FOR LARGER SCREENS */
@media(min-width: 1500px) {
    .card:hover .hidden-content {
        opacity: 1;
        max-height: 400px;
    }

    .card:hover {
        width: 100%;
    }
}


  












