.page-header {
    color: var(--BROWN-COLOR);
    font-size: 150px;
    display: flex;
    justify-content: flex-end;
    padding-right: 80px;
    margin-top: 200px;
}


.work-container {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.card {
    background-color: var(--BROWN-COLOR);
    width: 300px;
    height: 300px;
    transition: width 750ms ease-in-out;
    margin: 0 20px;
    border-radius: 50px;
    padding: 15px 50px;
    display: flex;
}

.card h3 {
    font-size: 2.5vw;
    align-self: flex-start;
    font-family: var(--ACCENT-FONT);
    letter-spacing: 1px;
}

.card h3, .card p, .card li {
    color: #FFFFF2;
}

.hidden-content {
    display: none;
}

.card:hover {
    width: 200%;
}

.card:hover .hidden-content {
    display: flex;
}









