.home-button {
    width: 25px;
    transform: rotate(270deg);
    position: absolute;
    top: 45px;
    left: 20px;
    font-weight: 650;
    color: var(--GREEN-COLOR);
    font-family: var(--MAIN-FONT);
}

/* Headers */
.work-headers {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 50px;
    margin: 150px 10vw 0;
    color: var(--GREEN-COLOR);
}

.work-headers h2 {
    font-size: 200px;
    color: var(--GREEN-COLOR);
}

.work-headers p {
    color: var(--GREEN-COLOR);
}

.work-copy {
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 15px;
}

/* Work Container */
.work-container {
    display: flex;
    justify-content: center;
    margin-top: 120px;
}

/* Card Styles */
.card {
    background-color: rgba(4, 89, 77, 0.1);
    width: 28vw;
    height: 350px;
    margin: 0 20px;
    padding: 15px 50px;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    gap: 50px;
    transition: width 750ms ease;
    overflow: hidden;
    min-width: 0;
}


.card:hover {
    width: 100%;
}

/* Card Content */

.card-info {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.card h3 {
    font-size: 2.5vw;
    letter-spacing: 1px;
    margin: 10px 0;
    font-family: var(--ACCENT-FONT);
}

.card h3, 
.card p, 
.card li {
    color: var(--GREEN-COLOR);
}

/* Hidden Content */
.hidden-content {
    display: flex;
    opacity: 0;
    transition: opacity 750ms ease, max-height 750ms ease;
}

.card:hover .hidden-content {
    opacity: 1;
    max-height: 400px;
}

.tech-list {
    padding: 0;
    justify-self: left;
}

.tech-list li {
    margin-right: 20px;
    font-family: var(--MAIN-FONT);
    font-weight: 550;
}

.card-img {
    width: 100%;
    max-width: 500px;
    height: 100%;
    border-radius: 35px;
    background: center / cover no-repeat;
}

.project-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
}

.project-links a {
    font-weight: 500;
    font-family: var(--MAIN-FONT);
    color: var(--GREEN-COLOR);
}

.project-links a:hover {
    border-bottom: 2px solid var(--GREEN-COLOR);
}

.link {
    display: flex;
    align-items: center;
    gap: 5px;
}













